
.navbar{
    padding: 20px 0px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 80%;
    margin:auto;
    gap: 20px;
}
.navbar .navicon{
    display: none;
}
.navbar .logo{
    width: 150px;
    font-weight: 700;
    font-size: 32px;
}
.navbar-menu{
    align-items: center;
    display: flex;
    flex: 1;
}

.menu-list{
    display: flex;
    list-style: none;
    gap: 20px;
    font-size: 16px;
    color:#000000;
}

.navbar-right{
    display: flex;
    align-items: center;
    gap: 14px;
    flex:1 ;
}
.navbar-right .search-bar{
    display: flex;
    align-items: center;
    gap: 4px;
    padding: 2px;
    background-color: #F0F0F0;
    border-radius: 15px;
    padding: 10px 20px;
    flex: 1;

}
input{
    border: none;
    font-family: Satoshi;
    font-size: 16px;
    outline: none;
    background-color: transparent;
}
input::placeholder{
    color: #00000066;
}
.searchicon{
    display: none;
}
.menu-list .active{
    padding-bottom:2px ;
    border-bottom: 2px solid #000000;
    display: flex;
    gap: 5px;
    align-items: center;
}

.menu-list li{
    cursor: pointer;
}
@media  (max-width:1150px) {
    .navbar{
        gap: 15px;
    }
    .navbar .logo{
        width: 140px;
        font-weight: 700;
        font-size: 28px;
    }
    .menu-list{
        font-size: 15px;
        gap: 12px;
    }
    .navbar-right{
        gap: 10px;
    }
    .navbar-right .search-bar{
        gap: 3px;
        padding: 7px 15px;
    }
    .input{
        font-size: 15px;
    }
}
@media  (max-width:1050px) {
    .navbar{
        gap: 10px;
    }
    .navbar .logo{
        width: 120px;
        font-weight: 700;
        font-size: 25px;
    }
    .menu-list{
        font-size: 12px;
        gap: 10px;
    }
    .navbar-right{
        gap: 8px;
    }
    .navbar-right .search-bar{
        gap: 3px;
        padding: 6px 12px;
    }
    .input{
        font-size: 12px;
    }
}
@media  (max-width:900px) {
    .navbar{
        gap: 10px;
    }
    .navbar .logo{
        width: 90px;
        font-weight: 700;
        font-size: 20px;
    }
    .menu-list{
        font-size: 13px;
        gap: 6px;
    }
    .navbar-right{
        gap: 5px;
    }
    .navbar-right .search-bar{
        gap: 3px;
        padding: 4px 8px;
    }
    .input{
        font-size: 6px;
    }
}
@media (max-width:850px) {
    .menu-list{
        display: none;
    }
    .navbar .navicon{
        display: block;
    }
    .navbar .logo{
        width: 90px;
        font-weight: 700;
        font-size: 24px;
    }
    .navbar-right .search-bar{
        display: none;
    }
    .searchicon{
        display: block;
        color: #000000;
        
    }
    .navbar-right{
        justify-content: end;
        gap: 7px;
    }
}
/* @media (max-width:650px) {
    .menu-list{
        display: none;
    }
} */